[Desktop Entry]
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/allfiles;
Icon=cloud-upload
Actions=transferFile;
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel
X-KDE-Submenu=Upload to server

[Desktop Action transferFile]
Name=Upload to server (Copy link)
Exec=sh $HOME/.local/share/kservices5/srvrupload/srvrupload.sh %f 0 0 0
Icon=cloud-upload