[Desktop Entry]
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/allfiles;
Icon=cloud-upload
Actions=transferFile;
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin

[Desktop Action transferFile]
Name=Upload to server (Copy link)
Exec=sh $HOME/.local/share/kservices5/srvrupload/srvrupload.sh %f
Icon=cloud-upload